<div class="container">
    <div class="jumbotron">
        <div class="d-xl-flex justify-content-center" id="title_login">
            <h4>Login</h4>
        </div>
        <div class="d-xl-flex justify-content-center">
            <form method="post" id="login_form">
                <div class="form-group row">
                    <div class="">
                        <input type="text" class="form-control" placeholder="Username" name="username" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="">
                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                    </div>
                </div>
                <div class="form-group row">
                    <input class="btn btn-primary btn-log" type="submit" value="Log In"/>
                </div>
                <div class="form-group row justify-content-center">
                    <p>or <a style="text-decoration: none;" href="/signup">Creat new account</a></p>
                </div>
            </form>
        </div>                  
    </div>          
</div>
<script type='text/javascript' charset='utf-8' src="../components/jquery/dist/jquery.min.js"></script>
<script type='text/javascript'>
    $(document).ready(function(){
        $("#login_form").submit(function(event){
            event.preventDefault();
            data = $("#login_form").serialize();
            //$("#f_admin *").prop("disabled","disabled");
            $(".formload").show();

            var username = $("[name='username']").val();
            var password = $("[name='password']").val();
            var keeplogin = $(".checkbox:checked").val();

            $.ajax({
                url: "../auth/login",
                type: "POST",
                data: {username:username,password:password,keeplogin:keeplogin},
                success: function(data,result,status) {
                    response = data;
                    if(response.status = "success"){
                        $('[name="username"]').focus();
                        $(".formload").hide();
                        $(".notification").html(response.message);
                                            window.location.href = "./dashboard";
                    }
                },
                error: function(jqXhr,result,errorThrown){
                    if(result = "error"){
                        $('[name="username"]').focus();
                        $(".formload").hide();
                        $(".notification").html(jqXhr.statusText);
                                            //window.location.href = "./";
                    }
                }
            });
        });
    });
</script>