<script type='text/javascript' charset='utf-8' src="../components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url: '/auth/edit/{{ devInfo.id }}',
            success:function(result,status){
                response = result;
                if(response.status == 'ok'){
                    $('[name="developerId"]').val(response.data.id);
                    $('[name="developer_name"]').val(response.data.developer_name);
                    $('[name="email"]').val(response.data.email);
                    $('[name="username"]').val(response.data.username);
                    $('[name="phone"]').val(response.data.phone);
                    $('[name="description"]').val(response.data.description);
                    $('[name="address"]').val(response.data.address);
                }
                else{
                    addpop(false);
                }
            }
        });
    });
</script>
<div class="content-wrapper">
    <section class="content-header">
        <h1>Profile</h1>
        <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Profile</li>
        </ol>
    </section>
    {{!-- <section class="content"> --}}
        <form class="content" action="/auth/update" method="POST">
            <div class="form-row">
                <input type="hidden" name="_method" value="PUT">
                <input type="text" name="developerId" value="">
                <div class="form-group col-md-6">
                    <label for="developer_name">Developer Name</label>
                    <input type="text" class="form-control" id="developer_name" name="developer_name" value="">
                </div>
                <div class="form-group col-md-6">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="">
                </div>
                <div class="form-group col-md-6">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="">
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" value="">
            </div>
            <div class="form-group col-md-12">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description" value="">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    {{!-- </section> --}}
</div>