<%- include ('partials/header') %> 
<%- include ('partials/navbar') %> 

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Activity<small>Control panel</small></h1>
        <ol class="breadcrumb">
            <li><a href="/cloud/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Activity</li>
        </ol>
    </section>
    <div class="box box-widget col-md-12">
        <div class="box-footer box-comments" id="message">
            <div class="box-comment">
                <div class="comment-text">
                    <span class="username">
                        Maria Gonzales
                        <span class="text-muted pull-right">8:03 PM Today</span>
                    </span>
                    It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout.
                </div>
            </div>
            <div class="box-comment">
                <div class="comment-text">
                    <span class="username">
                        Maria Gonzales
                        <span class="text-muted pull-right">8:03 PM Today</span>
                    </span>
                    It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout.
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/mainAct.js"></script>

<%- include ('partials/footer') %> 