<%- include ('partials/header') %> 
<%- include ('partials/navbar') %> 

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Activity<small>Control panel</small></h1>
        <ol class="breadcrumb">
            <li><a href="/cloud/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Activity</li>
        </ol>
    </section>
    <div class="box box-widget col-md-12">
        <div id="message" class="box-footer box-comments" style="max-height: 550px; overflow-y: scroll;"></div> 
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<!-- <script src="/mainAct.js"></script> -->
<script>
    const room = `<%- JSON.stringify(devInfo.id) %>`
    const message = document.getElementById('message')
    const socket = io();

    socket.emit('Join Room', room);

    socket.on('LogAction', data => {
        console.log(data);
        outputData(data)

        message.scrollTop = message.scrollHeight;
    });
    
    function outputData(data){
        const div = document.createElement('div');
        div.classList.add('box-comment');
        div.innerHTML = `<div class="comment-text">
            <span class="username">
                ${data.id}
                <span class="text-muted pull-right">${data.time}</span>
            </span>
            ${data.text}
        </div>`;
        document.getElementById('message').appendChild(div);
    };
</script>

<%- include ('partials/footer') %> 