/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
.jumbotron{
  height: 100%;
  margin: 0%;
}
#title_login{
  margin-bottom: 2rem;
}
.btn-log{
  width: 100%;
}